data/raw/
data/bronze/
data/silver/
data/gold/
*.zip
DEVICE*.txt
device*.txt
mdrfoi*.txt
foitext*.txt
patient*.txt

artifacts/
models/
*.parquet
*.duckdb
*.db
*.faiss
*.index

.env
.venv/
__pycache__/
.ipynb_checkpoints/
.DS_Store
